<ion-content>
  <div id="container">
   <div class="titler">
     <h1 style="transform: scale(1);">Brio</h1>

   </div>
   <div class="list">
     <div class="jhead">
       <ion-button (click)="filter()" fill="clear">
         <ion-icon slot="icon-only" name="filter"></ion-icon>
       </ion-button>
       <ion-input style="background: rgb(233, 233, 233);
       border-radius: 20px;" type="text" placeholder="Search" [(ngModel)]="searchBy"></ion-input>
<ion-button  fill="clear" size="small" shape="round" (click)="search()">
  Search
</ion-button>
     </div>
     <div class="jobLister">
        <div class="loader" [ngClass]="{'loade-hide': searchJobs.length > 0}">
            <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        
       <div class="job animated fadeInUp" *ngFor="let j of searchJobs">
        <div class="image" >
          <img *ngIf="j.company_logo" [src]="j.company_logo" alt="">
          <img style="object-fit: cover !important;" *ngIf="!j.company_logo" src="../../assets/no_image_placeholder.png" alt="">
        </div>
        <div class="jobTitle">
          <h1 >{{j.title}}</h1>
          <hr>
          <p><span style="font-weight: bold;"> <ion-icon name="business-outline"></ion-icon> {{j.company}}</span>, <ion-icon name="location"></ion-icon> {{j.location}}</p>
<div class="created">
  <div class="line"></div>
  <p style="font-size: 12px;margin: 2px 0px;"><i>Posted&nbsp;{{j.created_at | date}}</i></p>
  <div class="line"></div>
</div>
          <div class="salary">
            <p>{{j.type}}</p> <ion-button color="dark" style="margin: 0 !important;" (click)="viewJob(j.id)" expand="block"  size="small" fill="outline" shape="round">
              View Job
            </ion-button>
          </div>
        </div>
       </div>
     </div>
   </div>
  </div>
</ion-content>
